<div class="container">
  <p><%= @question %></p>
  <p>--- You</p>
</div>

<div class="container answer">
  <p><b><%= @answer %></b></p>
  <p>--- Your coach</p>
</div>



<%= @answer %>
<br>
<%= link_to "ask again", ask_path %>
